body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  text-align: center;
  margin-top: 50px;
}

.todo-box {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  width: 200px;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
}

li {
  list-style: none;
  background: white;
  margin: 8px auto;
  padding: 10px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}
